table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  .highlight {
    background-color: yellow;
  }

  tr:nth-child(even) {background-color: #bfdee7;}